*{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    margin: auto;
    max-width: 1140px;
    width: 90%;
}

//header start//
header{
   background-color: black;
   height: 80px;
}

header a{
    color: white;
    line-height: 80px;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 2px;
}

header .row{
justify-content: space-between;
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
}

header img{
    margin-top: 10px;
}

// 螢幕寬度大於767px//
@media (max-width: 767px){
.icon-menu{
    width: 30%;
    display: block;
    text-align: center;
    background-color: rgb(131, 45, 45);
    font-size: 20px;
    }
}

// 螢幕寬度大於768px//
@media(min-width:768px){
    .icon-menu{
        display: none;
    }
}

// header end//