*{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    max-width: 1140px;
    width: 90%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header>.container>.row>nav>ul>li>a{
    list-style-type: none;
    text-decoration: none;
}