* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: auto;
  max-width: 1140px;
  width: 90%;
}

header {
  background-color: black;
  height: 80px;
}

header a {
  color: white;
  line-height: 80px;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 2px;
}

header .row {
  justify-content: space-between;
}

header img {
  margin-top: 10px;
}

.img-fluid {
  width: 100%;
}

.img-wrap {
  flex-wrap: wrap;
}

main h1 {
  text-align: center;
}

@media (max-width: 767px) {
  #member-logo {
    display: none;
  }

  .icon-menu {
    margin-left: 10%;
    width: 30%;
    display: block;
    text-align: center;
    font-size: 20px;
    height: 80px;
  }

  header {
    position: relative;
  }

  header > .container nav {
    width: 100%;
    position: absolute;
    top: 80px;
    background-color: black;
  }

  nav {
    right: 100vw;
    transition: all 0.5s;
  }

  nav.active {
    right: 0px;
  }

  .submenu {
    display: none;
  }

  .submenu > li {
    line-height: 60px;
    border-bottom: 1px solid white;
    background-color: #492828;
  }

  header > .container nav > ul > li, .submenu {
    text-align: center;
    border-bottom: 1px solid white;
  }
}
@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }

  header ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
  }

  .submenu {
    display: none;
  }
}