* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: auto;
  max-width: 1140px;
  width: 90%;
}

body {
  background-color: black;
  font-family: "Oswald", sans-serif;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: white;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

header {
  background-color: black;
}

header a {
  color: white;
  line-height: 80px;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 2px;
}

header .row {
  justify-content: space-between;
}

header img {
  margin-top: 10px;
}

main {
  margin-top: 70px;
}

main .col-lg-6 {
  background-color: #d9a44f;
  border-radius: 8px;
}

main > .container > .row > .col-lg-6 > h2 {
  border-left: 5px solid #cc7a7a;
  margin-top: 20px;
  padding-left: 10px;
}

main .container .row .col-lg-6 p {
  padding-top: 40px;
}

section h2 {
  margin-left: 45%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #d9a44f;
  display: inline-block;
  color: white;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.img-wrap img {
  transition: all 0.5s;
}

section .container .row .col-lg-4 .img-wrap {
  opacity: 65%;
}

section .container .row .col-lg-4 .img-wrap:hover {
  opacity: 100%;
}

.img-overlay {
  border-radius: 8px;
  overflow: hidden;
}

.img-wrap img:hover {
  transform: scale(1.1);
}

.icon-good {
  position: absolute;
  color: antiquewhite;
  background-color: #4e9fac;
  width: 40px;
  line-height: 40px;
  border-radius: 100%;
  top: -20px;
  left: -20px;
}

.col-lg-3 {
  text-align: center;
  height: 140px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.col-lg-3 img {
  transition: all 0.5s;
  display: block;
  cursor: pointer;
}

.col-lg-3:hover h4 {
  bottom: 0px;
}

.col-lg-3 h4 {
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  background-color: rgba(22, 128, 119, 0.507);
  color: aliceblue;
  position: absolute;
  width: 100%;
  bottom: -60px;
  transition: all 0.5s;
  cursor: pointer;
}

.mgt50px {
  margin-top: 50px;
}

footer {
  background-color: #d9a44f;
  position: relative;
}

footer img {
  margin: 10px 0px 10px 0px;
}

footer .container {
  text-align: center;
}

footer dl {
  padding-bottom: 20px;
}

.fz1 {
  font-size: 1em;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  #member-logo {
    display: none;
  }

  .icon-menu {
    margin-left: 5%;
    text-align: center;
    height: 80px;
  }

  header {
    position: relative;
  }

  header > .container nav {
    width: 100%;
    position: absolute;
    top: 80px;
    background-color: black;
  }

  nav {
    right: 100vw;
    transition: all 0.5s;
  }

  nav.active {
    right: 0px;
  }

  .submenu {
    display: none;
  }

  .submenu > li {
    line-height: 60px;
    border-bottom: 1px solid white;
    background-color: #492828;
  }

  header > .container nav > ul > li,
.submenu {
    text-align: center;
    border-bottom: 1px solid white;
  }

  main .col-lg-6 {
    margin-top: 20px;
  }

  main p {
    padding-bottom: 20px;
  }

  section h2 {
    margin-top: 50px;
    margin-left: 40%;
  }

  section h3 {
    margin-top: 10px;
  }

  section .col-lg-4 {
    margin-top: 25px;
  }

  .col-lg-3 {
    height: 260px;
  }

  footer {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .col-sm-1 {
    --num: calc(12 / 1)
    width: calc(100% /var--(num) - 30px)
    margin:0px 15px 40px 15px ;
  }

  .col-sm-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-sm-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }

  header ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
  }

  header > .container > .row nav > ul > li > a:hover {
    padding-bottom: 10px;
    color: #d9a44f;
    border-bottom: 1px #d9a44f;
    transition: all 0.5s;
  }

  .submenu {
    display: none;
  }

  .order-1 {
    order: -1;
  }
}
@media (min-width: 768px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}