head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title H6T P6T 火鍋
  link(rel='stylesheet' href='public/style.css')
header
  .container
    .row 
        a(href='')
          img(src='images/final logo.png' alt='' width='200px')
           nav
              ul 
                li
                a(href='') 關於我們
                li
                a(href='') 最新消息
                li
                a(href='') 飽食菜單
                li
                a(href='') 常見問題
        a(href="")
          img(src="images/member icon.png", alt="" width='54px') 
